{% extends 'components/_card.html.twig' %}

{% block fake %}
<div>
    <img src="{{ asset('build/messageToMatthieu2.png') }}" alt="photo" style="height: 350px; width: auto" class="ml-4">
    <a href="{{ path('menu') }}">Return</a>
</div>
{% endblock %}