{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="dropright d-flex float-right">
			{% include 'components/_switch_button.html.twig' %}
			{% include 'components/_profile_picture.html.twig' %}
		</div>
	</div>
{% endblock %}
