{% extends 'components/_card.html.twig' %}

{% block home %}
	{% if app.user %}
		<div class="row justify-content-center">
			<div class="d-flex flex-column">
				<img class="avatar my-3 mx-auto" src="{{ app.user.imagePicture }}" alt="avatar">
				{% block username%}
					<h3 class="text-light mx-auto">
						Hi
						{{ app.user.firstname }}
						!
					</h3>
				{% endblock %}
                <a class="btn btn-lg btn-primary mt-5 mx-auto" href="{{ path('menu') }}">
			GO
            </a>
			</div>
		</div>
	{% endif %}
{% endblock %}