{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <div class="container">
        <div class="row col-3 modal fade mt-5 ml-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="frame text-white bg-primary mb-3" style="height:500px; border-radius:45px;">
                <div class="card-body">
                    <div class="row d-flex inline-block justify-content-end pr-4 pt-2">
                        {% if app.user %}
                            <div class="custom-control custom-switch">
                                <label class="custom-control-label" for="customSwitch1">Online</label>
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            </div>

                        {% else %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Offline</label>
                            </div>
                        {% endif %}
                    </div>
                        {% if app.user %}
                        <div class="row justify-content-center">
                            <div class="d-flex ">
                                <img class="avatar mt-3 mb-3" src="{{ app.user.imagePicture }}"
                                     alt="avatar">
                            </div>
                        </div>
                        {% endif %}
                    <div class="row justify-content-center">
                        <a href="{{ path('content_index') }}" class="btn btn-success btn-lg m-3" role="button" aria-pressed="true">SELECT</a><br>
                    </div>
                        <div class="row justify-content-center">
                        <a href="{{ path('content_new') }}" class="btn btn-success btn-lg m-3" role="button" aria-pressed="true">CREATE</a><br>
                        </div>
                            <div class="row justify-content-center m-3">
                        <a href="{{ path('content_index') }}" class="btn btn-success btn-lg" role="button" aria-pressed="true">MINES</a><br>
                            </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
