{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		Launch demo modal
	</button>

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="card text-white bg-primary mb-3 rounded" style="max-width: 18rem;">
			<div class="card-header ">


				{% if app.user %}
				<div class="custom-control custom-switch d-flex flex-row-reverse">
					<label class="custom-control-label" for="customSwitch1">Online</label>
					<input type="checkbox" class="custom-control-input" id="customSwitch1">

				</div>
					<div class="d-flex justify-content-center">
					<img  class="avatar mt-3" src="{{ app.user.imagePicture }}" height="50px" width="50px" alt="avatar">
					</div>
				{% else %}
				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
					<label class="custom-control-label" for="customSwitch2"></label>
				</div>
				{% endif %}
			</div>
			<div class="card-body">
				<h5 class="card-title">Primary card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>

{% endblock %}
