{% extends 'base.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}
    <h1>Edit Content</h1>

    {{ include('content/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('content_index') }}">back to list</a>

    {{ include('content/_delete_form.html.twig') }}
{% endblock %}
